<head>
    <meta charset="utf-8">
    <title>Patitas Felices</title>
    <link rel="icon" type="image/png" href="../imágenes/patitas.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/lista.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div style="margin-left: 0cm;" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../template/home.html">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../template/perros.html">Perros<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../template/gatos.html">Gatos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="text-align: center; margin-top: 0; background-color:rgb(255, 37, 208)" class="jumbotron">
        <h1 style="color: whitesmoke;">Adoptar un perro</h1>
    </div>
    
    <h1 style="margin-top: 10px; margin-bottom: 50; font-size: xx-large; color: azure;">¡Aquí verás a todos los preciosos <p> perros que podrás adoptar!</h1>

    <div class="col-sm-12" >
        <div class="col-sm-4">
            <div class="card">
                <!--Primer Perro-->
                <div class="card-body">
                    <a style="text-decoration: none;" href="../perroadop/ronney.html">
                        <img class="col-sm-12" style="width:100vmin 450px; height: 300px;" src="https://www.diarioveterinario.com/images/showid2/3192567?w=900">
                        <h5 class="card-text" style="margin-left: 12; font-family: Verdana, Geneva, Tahoma, sans-serif; color: crimson;">Ronney</h5>
                        <p class="card-text" style="margin-left: 12; margin-right: auto;">Soy bastante jugueton y muy cariñoso, estoy esperando por llegar a un buen hogar</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <!--Segundo Perro-->
                <div class="card-body">
                    <a style="text-decoration: none;" href="../perroadop/princesa.html">
                        <img class="col-sm-12" style="width: 100vmin 450px; height: 300px;"
                        src="https://www.latercera.com/resizer/gnJjKC7qAZDFZLjJDzc0kdlgXWI=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/PDW3FDGMEBGVXHM77NEEDMY7KU.jpg">
                        <h5 class="card-text" style="margin-left: 12; font-family: Verdana, Geneva, Tahoma, sans-serif; color: crimson;">Princesa</h5>
                        <p class="card-text" style="margin-left: 12; margin-right: auto;">Soy bastante jugueton y muy cariñoso, estoy esperando por llegar a un buen hogar</p>
                    </a>    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <!--Tercer Perro-->
                <div class="card-body">
                    <a style="text-decoration: none;" href="../perroadop/pelusa.html">
                        <img class="col-sm-12" style="width: 100vmin 450px; height: 300px;"
                        src="https://maldita.es/app/uploads/2020/04/dog-1151195_1920-1.jpg">
                        <h5 class="card-text" style="margin-left: 12; font-family: Verdana, Geneva, Tahoma, sans-serif; color: crimson;">Pelusa</h5>
                        <p class="card-text" style="margin-left: 12; margin-right: auto;">Soy bastante jugueton y muy cariñoso, estoy esperando por llegar a un buen hogar</p>
                    </a>
                </div>
            </div>
        </div>        
    </div>
    
</body>
